.skills {
    margin-bottom: 150px;

    &__title {
        font-size: 55px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -1.65px;
        margin-bottom: 80px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 50px;
    }

    &__item {
        width: calc(50% - 25px);
    }

    &__item-title {
        color: #1BFF07;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -1.05px;
        margin: 15px 0;
    }

    &__item-subtitle {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.66px;
    }
}

.title {
    margin-bottom: 60px;
}